{% extends 'base.html' %}

{% block title %}V2 Captcha{% endblock %}

{% block content %}
    <h2>Captcha Form</h2>
    <div class="container">

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    </div>
    <style>        body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }
    
    .container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    label {
        display: block;
        margin-bottom: 10px;
    }
    
    input[type="text"],
    input[type="password"] {
        width: 80%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type="submit"]:hover {
        background-color: #45a049;
    }</style>
{% endblock %}

